body, #root {
    height: 100%;
    margin: 0;
}
.light-mode {
    color: #333;
    background-color: #FFF; 
}

.dark-mode {
    color: #FFF;
    background-color: #333;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.mainContainer .bodyContainer {
    height: 100%;
    margin: 0 auto;
}